.logout{
    font-size: 30px;
    font-weight: bold;
    bottom: 0;
}

.profile{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.username{
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}

.mail{
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.orders{
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.order{
    display: block;
    width: 950px;
    height: 200px;
    line-height: 200px;
}

.basic {
    display: inline-block;
    text-align: left;
    width: 200px;
    line-height: normal;
    vertical-align: middle;
}

.title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.basic .name, .basic .date{
    text-align: left;
}


.description{
    display: inline-block;
    width: 350px;
    font-size: 25px;
    text-align: left;
    line-height: normal;
    vertical-align: middle;
}

.delete_button{
    display: inline-block;
    width: 100px;    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    vertical-align: middle;
}

.change_cat{
    display: inline-block;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    vertical-align: middle;
}

.save_button{
    width: 49px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.add_new{
    margin: 50px auto 20px;
    font-size: 30px;
}

.manage{
    margin: 50px auto;
    text-align: center;
    width: 1010px;
}

.category{
    width: 60%;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
}
select[name = "ch_category"]{
    display: inline-block;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    vertical-align: middle;
}